.wishlist {
    min-height: 100vh;
    background-color: #282c34;
    color: #ffffff;
}

.wishlist-item {
    width: 18rem !important;
    margin: 10px 5px;
}

#content-to-export {
    padding: 0 20px;
}